body {
  margin: 0;
  background-color: rgb(127, 229, 255);
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  background-color: #fff;
  width: 58%;
  margin: 2rem 21%;
  padding-bottom: 1rem;
}

header {
  display: flex;
}

header img {
  height: 10rem;
  border-radius: 50%;
  margin-top: 1.5rem;
  margin-left: 12.5%;
}

header div {
  margin-left: 12.5%;
}

.name {
  font-size: 2.5rem;
  font-weight: 400;
  color: rgb(12, 134, 235);
}

.position {
  font-size: 1.5rem;
}

hr {
  margin-left: 2rem;
  border-top: 3px solid #bbb;
}

main {
  display: flex;
}

section div {
  display: flex;
  margin-top: -1rem;
  margin-bottom: -1rem;
}

.toggle_button {
  border: none;
  background-color: #fff;
  color: rgb(122, 122, 122);
  font-size: 0.9rem;
  cursor: pointer;
  margin-left: 0.4rem;
  margin-top: 0.08rem;
}

.toggle_button:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  overflow: hidden;
}

#skills li,
#languages li,
#interests li {
  display: flex;
  transition: 0.8s;
}

li img {
  height: 1.5rem;
  margin-top: 0.6rem;
  margin-right: 0.4rem;
}

.react {
  height: 1.3rem;
  margin-top: 0.7rem;
}

.laptop {
  height: 1rem;
  margin-top: 0.8rem;
}

.theuk {
  width: 36px;
}

h3 {
  margin-left: 2rem;
}

.contact_key {
  color: rgb(12, 134, 235);
  font-size: 1rem;
}

.contact_value {
  margin-top: -0.6rem;
  font-size: 0.8rem;
}

.skill,
.language,
.interest,
.education p {
  font-size: 0.9rem;
}

.title {
  margin-left: 2rem;
  color: rgb(12, 134, 235);
}

#institutions {
  margin-left: -1.7rem;
}

.location,
.period {
  text-align: right;
}

.institution {
  font-weight: 600;
}

.education {
  margin-left: 2rem;
}

@media (max-width: 1300px) {
  .location,
  .period {
    text-align: left;
  }

  hr {
    margin-left: 2rem;
    border-top: 3px solid #bbb;
    margin-right: 1rem;
  }
}

@media (max-width: 1100px) {
  .main {
    width: 68%;
    margin: 2rem 16%;
  }
}

@media (max-width: 850px) {
  .main {
    width: 78%;
    margin: 2rem 11%;
  }
}

@media (max-width: 750px) {
  .main {
    width: 88%;
    margin: 2rem 6%;
  }
}

@media (max-width: 600px) {
  .main {
    width: 94%;
    margin: 2rem 3%;
  }
}

@media (max-width: 500px) {
  .main {
    width: 94%;
    margin: 1rem 3%;
  }

  header,
  main {
    flex-direction: column;
  }

  header img {
    margin: 1.5rem 32%;
  }

  .name {
    font-size: 1.8rem;
    margin-left: 22%;
  }

  .position {
    font-size: 1.2rem;
    margin-left: 22%;
  }

  hr {
    margin-right: 1rem;
  }
}

@media (max-width: 475px) {
  header img {
    margin: 1.5rem 30%;
  }

  .name,
  .position {
    margin-left: 20%;
  }
}

@media (max-width: 450px) {
  header img {
    margin: 1.5rem 29%;
  }

  .name,
  .position {
    margin-left: 20%;
  }
}

@media (max-width: 425px) {
  header img {
    margin: 1.5rem 28%;
  }

  .name,
  .position {
    margin-left: 20%;
  }
}

@media (max-width: 400px) {
  header img {
    margin: 1.5rem 27%;
  }

  .name,
  .position {
    margin-left: 15%;
  }
}

@media (max-width: 375px) {
  header img {
    margin: 1.5rem 25%;
  }

  .name,
  .position {
    margin-left: 14%;
  }
}

@media (max-width: 350px) {
  header img {
    margin: 1.2rem 24%;
  }

  .name,
  .position {
    margin-left: 10%;
  }
}

@media (max-width: 325px) {
  header img {
    margin: 1.5rem 22%;
  }

  .name,
  .position {
    margin-left: 8%;
  }
}
